html,
body {
  margin: 0;
  padding: 0;
}

.Wrap {
  max-width: 1400px;
  margin: 0 auto;
}

.Header {
  width: 100%;
  height: -130px;
  background-color: #038c5a;
  transition: transform 0.3s;
}

.WrapMiddle {
  width: 100%;
  font-size: 0;
}

.Left {
  height: 625px;
  background-color: green;
  display: inline-block;
  position: absolute;
  left: -200px;
  width: 200px;
  font-size:0.9rem;
  transition:transform:0.3s;
}

@media (min-width: 40rem){
   .Left{
    width:20.83%;
    left:0;
    position:relative;
   }

   .Header{
    height:130px;
   }

}

.Middle {
  height: 625px;
  width: 68.75%;
  background-color: blue;
  display: inline-block;
}

.Right {
  height: 625px;
  width: 10.4%;
  background-color: yellow;
  display: inline-block;
}

.Footer {
  height: 200px;
  width: 100%;
  background-color: black;
}
